* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Arial,
    sans-serif;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.hero {
  padding: 30px;
  width: 50%;
}

.hero-text {
  max-width: 350px;
  line-height: 30px;
}

.highlight-green {
  color: #00b894;
}

.operations-section {
  background: #6c6c6c;
  padding: 40px 20px;
  margin-top: 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  position: relative;
}

.operations-card {
  background: white;
  padding: 30px;
  width: 50%;
}

.operations-title {
  background: #ffc107;
  color: black;
  display: inline-block;
  padding: 8px 16px;
  margin-bottom: 20px;
  font-weight: bold;
  position: relative;
  left: -35px;
  border-bottom: 5px solid rgb(134, 121, 38);
}

.operations-content {
  margin-bottom: 20px;
}

/* Responsive css for tablet screens */
@media (max-width: 768px) {
  .hero {
    width: 100%;
    margin: 10px;
  }

  .hero p {
    font-size: 1.1rem;
  }

  .operations-card {
    width: 100%;
  }
  .operations-section {
    margin: 1px;
    /* padding: 5px; */
    background: #6c6c6c;
    padding: 40px 0px;
  }
}

/* responsive css for mobile screens */
@media (max-width: 480px) {
  .operations-section {
    margin: 1px;
    padding: 50px 0px;
  }

  .operations-title {
    position: relative;
    width: 90%;
  }
  .operations-title > p {
    position: relative;
    width: 200px;
  }

  .hero {
    padding: 40px 15px;
  }

  .hero h1 {
    font-size: 1.8rem;
    margin-bottom: 20px;
  }
}
